<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <link rel="stylesheet" href="/assets/css/adminrole.css">
    <title>YantroMitra</title>
    <link rel = "icon" href =  
    "/assets/images/ylogo.png" 
            type = "image/x-icon"> 
</head>
<body >
    <div class="conatiner" style="margin: 50px; text-align: center;font-family: Georgia, 'Times New Roman', Times, serif;">
    <h1>Signup for School Admin Role!</h1>
    </div>
    <div id="login-box">
        <div class="leftbox">
          <h1>Sign up</h1>
          <form action="/registerforschool" method="POST" class="register">
            <br><br>
          <input class="signup" type="email" name="username" placeholder="School E-mail" required/>
          <input class="signup" type="text" name="name" placeholder="School name" required>
          <input class="signup"  type="password" name="password" placeholder="Password" required /> 
          <input class="signup" type="text" name="passcode" placeholder="Passcode" required>
                   
          <input class="submitbutton" type="submit"  name="signup_submit" value="Sign me up" />
        </form>
        <br>
        <div style="font-size: medium;">Already have a account?  <a href="/login" style="font-size: large; font-weight: 600;">LogIn</a></div>
        </div>
      </div>
      
    
    
    

</body>
</html>