<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top" style="font-weight:600;word-spacing: 2px;">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-info">
            <h3>YantroMitra</h3>
            <p>
              YantroMitra Robotics<br>
              29/2A, 1st A main, 2nd B Cross,<br>
              Nanjappa Layout,<br>
              Vidyaranyapur, Bangalore 97.<br><br>
              <strong>Phone:</strong><a href="tel:+918618630980" style="color: white;"> +918618630980</a><br>
              <strong>Email:</strong><a href="mailto:pmkulkarni@yantromitra.in" style="color: cornsilk;"> pmkulkarni@yantromitra.in</a><br>
            </p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="https://www.facebook.com/STEAMEDUCATIO/" class="facebook" target="_blank"><i class="bx bxl-facebook"></i></a>
              <a href="https://api.whatsapp.com/send?phone=919889465869" class="google-plus" target="_blank"><i class="bx bxl-whatsapp"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

          
          

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>YantroMitra</span></strong>. All Rights Reserved
      </div>
      
    </div>
  </footer><!-- End Footer -->
  <a href="#" class="back-to-top" data-toggle="tooltip" data-placement="bottom" title="Click to scroll to top"><i class="icofont-simple-up"></i></a>
 
 <!--<a href=""><div class="query"><i class="icofont-chat"></i></div></a>-->


  <div class="socialmedia" data-aos="fade-up" data-aos-delay="200">
    <a href="https://www.facebook.com/STEAMEDUCATIO/" target="_blank"><i class="fab fa-facebook-square" style="color: rgb(30, 20, 250);margin-left: 0%;"></i></a>
    <a href="https://api.whatsapp.com/send?phone=919889465869" style="display:flex" target="_blank"><i class="fab fa-whatsapp-square" style="color:rgb(8, 250, 73)"></i></a>
  </div>


 
<script>
  let btn=document.getElementById("loginbtn");
  let cl=document.getElementById("cl");
  let box=document.getElementById("loginbox");
  btn.addEventListener("click",function(){
    box.style.display="block";
  })

  cl.addEventListener("click",function(){
    box.style.display="none";
  })

</script>



  <!-- JS Files -->
  <script src="assets/js/scroll.js"></script>  
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/jquery-sticky/jquery.sticky.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/counterup/counterup.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>




</body>

</html>