<%- include('../partials/header.ejs') %>


<section id="bank">
    <div class="container">

        <h2 style="font-weight: 600;text-align: center;">Generally, the Bank Exams are of the following types: </h2>
        <hr style="width: 55%; font-weight: 600;">
        <br>
        <br>

        <ul style="list-style: decimal; font-weight: 600; font-size: large;">
            <li><h5> A Common Written Exams (CWE) conducted by the IBPS as a prerequisite <br>
                for the selection of personnel for Probationary Officer/Management Trainee/ <br>
             Clerk/Specialist Officer posts in Public Sector banks, SBI and for Officers <br>
             and Office assistants in Regional Rural Banks- RRB.</h5>
            </li>
            <li><h5>Exam conducted by SBI for recruitment to the posts of clerks and Officers.</h5></li>
        </ul>
        <br>

        <h3 style="text-decoration: underline;">Details for Probationary Officer:-</h3>
        <br>

        <table class="bank">
            <tbody>
            <tr>
                <th>EXAMS </th>
                <th>AGE LIMIT </th>
                <th>QUALIFICATION</th>
            </tr>

            <tr>
                <td>IBPS CWE (PO/MT)<br>for PSBS </td>
                <td>20 -30 Years </td>
                <td>Degree in any discipline<br> from a recognized university<br> or any equivalent qualification.</td>
            </tr>

            <tr>
                <td>IBPS CWE (Officers)<br> for RRBS</td>
                <td>Officer scale III – 21-40 yrs.<br>
                    Officer scale II – 21 -32 yrs.<br>
                    Officer scale I – 18-30 yrs.</td>
                    <td>Degree in any discipline <br>for General Banking <br>Officers (50% for scale II<br> & III) & Degree / PG in a <br>relevant subject for <br>specialist officers as given <br>in the notification. <br>Experience also required <br>for some posts.<br></td>
            </tr>

            <tr>
                <td>SBI /SBI Associate<br> Banks PO</td>
                <td>21 -30 years </td>
                <td>Graduation in any <br>discipline from a <br>recognized university/ <br>college.</td>
            </tr>
            </tbody>
        </table>
       
        <br>
        <br>

        <h3 style="text-decoration: underline;">CLERKS:-</h3>
        <br>

        <table class="bank">
            <tbody>
            <tr>
                <th>EXAMS </th>
                <th>AGE LIMIT </th>
                <th>QUALIFICATION</th>
            </tr>

            <tr>
                <td>IBPS CWE (Clerks) For<br> PSBS </td>
                <td>20 -28 years </td>
                <td>Degree in any discipline <br>from a recognized <br>university or any <br>equivalent qualification.</td>
            </tr>

            <tr>
                <td>IBPS CWE (office <br>Assistants) for RRBS </td>
                <td>18 -28 years </td>
                <td>Degree in any discipline<br> from a recognized <br>university or its equivalent.</td>
            </tr>

            <tr>
                <td>SBI/SBI Associate <br>Banks Clerks </td>
                <td>20 -28 years </td>
                <td>Degree in any discipline <br>from a recognized <br>university or any <br>equivalent qualifications</td>
            </tr>
            </tbody>
        </table>
        <br>
        <br>

        <h6><strong>Note 1: </strong>Age on data specified in the notification.</h6>
        <h6><strong>Note 2: </strong>Relaxation in age for reserved categories as per rules.</h6>
        <br>
        <br>

        <h3 style="text-decoration: underline;">COMPUTER LITERACY: </h3>
        <br>
        <h6>CWE tests the candidate’s working knowledge of computers and few banks <br>mention that the desired computer skills may be acquired within six months of <br>joining the bank .If a candidate has not studied computers as one of the subjects in <br>school/college ,the candidate must process a valid diploma(Basic applications) in <br>computers.</h6>
        <br>
        <br>

        <h3 style="text-decoration: underline;">LANGUAGE PROFICIENCY:</h3>
        <br>
        <ul>
            <li><h4>Public Sector Banks:</h4>
            <br>
            <h6>Since clerical cadre recruitment would be on State- wise basis, the candidate <br>may also be required to possess proficiency in the official Language of the <br>State/UT for which vacancies he wishes to apply.</h6>
            </li>
            <br>

            <li><h4>Regional Rural Banks: </h4>
                <br>
                <h6>Proficiency in local language as prescribed by participating RRB/S. <br>Sometimes the candidate may be asked to read a local language paper in the <br>interview.</h6>
            </li>
            <br>

        </ul>

        <h4 style="text-decoration: underline;">Campus Recruitment Training at YantroMitra. </h4>
        <br>

        <h6>The course is designed to help your build concepts, prepare strategies, <br>identify weaknesses, and to take steps to eliminate them. The recruitment <br>Training course is developed on the lines of tests conducted by TCS, Wipro, <br>CTS, Infosys, Tech Mahindra, Accenture, IBM and other IT and Non-IT <br>companies.</h6>
        <br>

        <h6>Our online packages include topic wise videos, mock tests, sectional practice <br>tests and online comprehension tests will help you in various ways. The <br>course enables the students that will help you in various ways. The course <br>enables the students to learn at a place that is convenient to the material is <br>comprehensive and developed with care to ensure phased learning. <br>Developed by experts, Study Material coherently helps the student develop <br>skills required in different areas.</h6>
        <br>
        <br>

        <h4 style="text-decoration: underline;">COURSE VIDEOS: </h4>
        <br>

        <h6>The videos cover the fundamentals of all test areas including Quant, Verbal <br>Ability, Reading Comprehension, Logical ability and computer knowledge. These <br>videos will help on improving communication skills and corporate etiquettes.</h6>
        <br>

        <h4 style="text-decoration: underline;">TOPIC BASED VIDEOS:</h4>
        <br>

        <h6>The Videos Sessions cover the fundamentals of all testing areas including <br>Quantitative aptitude, Verbal ability, Reading Comprehension, Logical <br>ability and Computer knowledge. These videos will help on improving <br>communication skills and corporate etiquettes.</h6>
        <br>

        <h4 style="text-decoration: underline;">SECTIONAL PRATICE TESTS: </h4>
        <br>

        <h6>Sectional Practice Tests are to test each section of the exam. These are <br>recommended as it will test your knowledge of related concepts individually. <br>Therefore, they help you identify your strengths and weakness in a topic <br>area, thus helps the candidate to improve.</h6>
        <br>

        <h4 style="text-decoration: underline;">SECTIONAL PRATICE TESTS: </h4>
        <br>

        <h6>Sectional Practice Tests are to test each section of the exam. These are <br>recommended as it will test your knowledge of related concepts individually. <br>Therefore, they help you identify your strengths and weakness in a topic <br>area, thus helps the candidate to improve.</h6>
        <br>

        <h4 style="text-decoration: underline;">COMPREHENSIVE TEST :</h4>
        <br>

        <h6>Comprehensive tests are designed keeping in mind the pattern of the various <br>companies written tests. They give you sufficient practice and helps you access <br>your time management skills. </h6>
        <br>
        <h6>They also give you a feel of the actual testing environment. The comprehensive <br>tests are provided on various IT companies patterns TCS, Wipro, CTS, Infosys, <br>Tech Mahindra, Accenture, IBM and other & Non-IT companies.</h6>
        <br>
        <br>

        <h4 style="text-decoration: underline;">PSYCHOMERTIC TEST: </h4>
        <br>

        <h6>Psychometric test is conducted to find the best person for the role, based on <br>personality characteristics and aptitude. In a psychometric Test, there are no <br>such things as right or wrong answers. The test is an indication about the <br>mindset of an individual towards certain belief statements. The students are <br>expected to answer the questions spontaneously has they will be given very <br>little time to answer.</h6>
        <br>
        <br>




    </div>
</section>
















<%- include('../partials/footer.ejs') %>