<%- include ('../partials/header.ejs') %>

<section id="corse" style="background-color: #f2f8fa;">
    <div class="container">
        <h1 style="font-weight: 700;text-align: center;">YantroMitra MBA Preparation</h1>
        <hr style="width: 35%; font-weight: 600;">
        <br>
        <br>

        <h3>1. CMAT-Mega  </h3>
        <ul>
            <li>250 Video Lessons </li>
            <li>120 Live Video Sessions</li>
            <li>80 Sectional Tests and explanation</li>
            <li>20 Mock Tests </li>
            <li>Current Affairs Online Sessions</li>
            <li>E- Text Books</li>
            <li>8 Months Access Duration </li>
        </ul>
        <br>
       <a href="" class="btn btn-md btn-primary" style="font-weight: 700;">Buy it for Rs 8000</a>
       <br>
       <br>
       <br>

       <h3>2. CMAT- Medium  </h3>
        <ul>
            <li>250 Video Lessons </li>
            <li>60 Live Video Sessions</li>
            <li>50 Sectional Tests and explanation</li>
            <li>14 Mock Tests </li>
            <li>Current Affairs Online Sessions</li>
            <li>E- Text Books</li>
            <li>6 Months Access Duration </li>
        </ul>
        <br>
       <a href="" class="btn btn-md btn-primary" style="font-weight: 700;">Buy it for Rs 6000</a>
       <br>
       <br>
       <br>
        
       <h3>3. CMAT- Short Term  </h3>
        <ul>
            <li>250 Video Lessons </li>
            <li>45 Live Video Sessions</li>
            <li>50 Sectional Tests and explanation</li>
            <li>14 Mock Tests </li>
            <li>Current Affairs Online Sessions</li>
            <li>E- Text Books</li>
            <li>3 Months Access Duration </li>
        </ul>
        <br>
       <a href="" class="btn btn-md btn-primary" style="font-weight: 700;">Buy it for Rs 4000</a>
       <br>
       <br>
       <br>

       <h3>4. CMAT- One Month  </h3>
       <ul>
           <li>250 Video Lessons </li>
           <li>30 Live Video Sessions</li>
           <li>50 Sectional Tests and explanation</li>
           <li>7 Mock Tests </li>
           <li>Current Affairs Online Sessions</li>
           <li>E- Text Books</li>
           <li>1 Months Access Duration </li>
       </ul>
       <br>
      <a href="" class="btn btn-md btn-primary" style="font-weight: 700;">Buy it for Rs 3000</a>
      <br>
      <br>
      <br>

      <h3>5. Test Series  </h3>
      <ul>
          <li>12 - Mock Tests</li>
          <li>20 - Practice Tests</li>
          <li>70 - Sectional Tests </li>
          <li>Test Analysis Sessions live and Video Sessions</li>         
      </ul>
      <br>
     <a href="" class="btn btn-md btn-primary" style="font-weight: 700;">Buy it for Rs 750</a>
     <br>
     <br>
     <br>

        
    </div>
</section>






<%- include ('../partials/footer.ejs') %>