<%- include('partials/header.ejs') %>



<div id="login-box" style="height: 400px;">
    <div class="leftbox">
      <h1>Log In</h1>
      <form action="/login" method="POST">
        <br><br>
      <input class="signup" type="email" name="username" placeholder="E-mail" required/>
      <input class="signup" type="password" name="password" placeholder="Password" required/>
      
      <input class="submitbutton" type="submit" name="signup_submit" value="Log In" />
    </form>
    </div>
  </div>




<%- include ('partials/footer.ejs') %>