<%- include('partials/header.ejs') %>
<div id="login-box">
    <div class="leftbox">
      <h1>Sign up</h1>
      <form action="/register" method="POST" class="register">
        <br><br>
      <input class="signup" type="email" name="username" placeholder="E-mail" required/>
      <input class="signup"  type="password" name="password" placeholder="Password" required />
      <input class="signup" type="text" name="name" placeholder="Full name" required>
      <input class="signup" type="text" name="phone" placeholder="Phone number" required>
      <input class="signup" type="text" name="area" placeholder="City/Village" required>
      <input class="signup" type="text" name="state" placeholder="State" required>
          <select name="education" required class="signup">
            <%course.forEach(function(c,f){%>
              <% if(f==0){%>
            <option value="<%=c.classcode%>"><%=c.name%></option>
            <%}%>
            <%})%>
          </select>
          <small id="emailHelp" class="form-text text-muted">Choose course you want to study on YantroMitra!</small>
  
      
      <input class="submitbutton" type="submit"  name="signup_submit" value="Sign me up" />
    </form>
    <br>
    <div style="font-size: small;">Already have a account? <a href="/login" style="font-size: large; font-weight: 600;">LogIn</a></div>
    <br>
    <div style="font-size: small;">Register as a school? <a href="/school" style="font-size: large; font-weight: 600;">SignUp</a></div>
  <br>
  <div style="font-size: small;">Register as a admin? <a href="/registeradmin" style="font-size: large; font-weight: 600;">SignUp</a></div>  
  </div>
  </div>
  




  <%- include('partials/footer.ejs') %>







  