.form-control-primary {
    margin: 10px;
    opacity: 0.2;
    border-radius: 2px;
  }
  .sidebar {
    position: fixed;
    width: 15.5rem;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 100;
    padding: 70px 0 0 10px;
    border-right: 1px solid #d3d3d3;
  }

  .right-bar{
      margin-left: 15.5rem;
     }
  
  .left-sidebar {
    position: sticky;
    top:0;
    height: calc(100vh - 70px);
    overflow-y:auto;
  }
  
  .sidebar-nav li .nav-link {
    color: #333;
    font-size: 0.9rem;
    font-weight: 500;
  }
  .right-bar {
    padding-top: 1%;
  }
  .right-bar .card {
    margin-bottom: 20px;
  }
  h5{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }










  